@model PagedList.IPagedList<BHDT_OledPro.Areas.Admin.Data.WarrantiViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnExport").click(function () {
                let table = document.getElementsByTagName("table");
                TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
                    name: `warranti.xlsx`, // fileName you could use any name
                    sheet: {
                        name: 'Sheet 1' // sheetName
                    }
                });
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bảo hành</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (Html.BeginForm("Index", "Warranti", FormMethod.Get))
                {
                    <div class="col-md-6" style="padding-bottom:5px;">
                        <label>Lọc theo trạng thái</label>
                        @Html.DropDownList("status", new List<SelectListItem>{
                         new SelectListItem { Value = "" , Text = "--Chọn--" },
                         new SelectListItem { Value = "1" , Text = "Đã duyệt" },
                         new SelectListItem { Value = "0" , Text = "Mới" },
                      })

                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Lọc dữ liệu</button>
                    </div>
                }
                <div class="btn-right">
                    <a href="/admin/warranti/create" type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Tạo mới</a>
                    <a id="btnExport" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> Export File</a>
                </div>
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Serial</th>
                                <th>Tên khách hàng</th>
                                <th>Địa chỉ</th>
                                <th>Tỉnh thành</th>
                                <th>Đại lý lắp đặt</th>
                                <th>Hãng xe/Đời xe</th>
                                <th>Sdt bảo hành</th>
                                <th>Trạng thái</th>
                                <th>Ngày báo</th>
                                <th>Mô tả</th>
                                <th>Ngày hoàn thành BH</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Serial</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CustomerAddress</td>
                                    <td>@item.CustomerProvince</td>
                                    <td>@item.InstallationAgentAddress</td>
                                    <td>@item.CarBrandname</td>
                                    <td>@item.PhoneWarranti</td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <p class="btn-success text-center">Đã duyệt</p>
                                        }
                                        else
                                        {
                                            <p class="btn-danger text-center">Mới</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Createdate != null)
                                        {
                                            @Convert.ToDateTime(item.Createdate).ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td>@item.Note</td>
                                    <td>
                                        @if (item.Checkdate != null)
                                        {
                                            @Convert.ToDateTime(item.Checkdate).ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Partner") && item.Status != 1)
                                        {
                                            <a class="btn" href="/admin/warranti/edit/@item.Id"><i class="fa fa-edit fa-fw"></i></a>
                                            <a class="btn" href="/admin/warranti/delete/@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, currentFilter = ViewBag.CurrentFilter, status = ViewBag.Channel }))
                    <p class="pageof">page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



